/*-- scss:defaults --*/
$body-bg: #200e04;
$navbar-bg: #845b45;
$link-color: #E6CCBE;
// https://coolors.co/200e04-845b45-e6ccbe-c8cc92-f865b0


// .quarto-color-scheme-toggle:not(.alternate) .bi::before {
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z'/%3E%3C/svg%3E")
// }
// // .quarto-color-scheme-toggle:not(.alternate) bi bi-toggle-off
// .quarto-color-scheme-toggle.alternate .bi::before {
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath d='M12 2v2M12 20v2M4.93 4.93l1.41 1.41M17.66 17.66l1.41 1.41M2 12h2M20 12h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41'/%3E%3C/svg%3E")
// }
